<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/style/css/theme.css" type="text/css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/style/css/default.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/component.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/custom.css" />
    <script src="assets/style/js/modernizr.custom.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="banner-none">
        <header class="header">
            <div class="container">
                <div class="row">
                    <nav id="cbp-hrmenu" class="cbp-hrmenu navbar bg-primary navbar-dark">
                        <a class="navbar-darkbrand header-logo" href="#">
                            <img src="../komatsu/assets/image/com_sp01.png">
                        </a>
                        <ul >
                            <li class="drpdwn cbp-hasSub">
                                <a href="#" class="text-light" >Our Company</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">Our Company <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-6">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cbp-hrsub-box-section col-md-6">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">Equipment</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">Equipment <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#" class="text-light">Parts</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Service</a>
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">CSR</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">CSR <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">News & Events</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#" class="text-light">Contact</a>
                            </li>
                        </ul>
                        <div class="d-lg-none">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <header class="header-responsive d-lg-none">
            <div id="responsiveNav">
                <div class="card">
                    <div class="card-header" id="responsiveNav-1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Our Company <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="responsiveNav-1" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">Our Company <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-6">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cbp-hrsub-box-section col-md-6">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /cbp-hrsub-inner -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Equipment <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="responsiveNav-2" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">Equipment <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-3">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Parts
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-4">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Services
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-5">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                CSR <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="responsiveNav-5" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">CSR <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-6">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                News & Events <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="responsiveNav-6" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-7">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                Marketing <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="responsiveNav-7" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-8">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Contact
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- end header -->

    <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">News & Event</a></li>
                <li class="breadcrumb-item"><a href="#">2018</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.</li>
            </ol>
        </div>
    </nav>

    <div class="page">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="title">
                            Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                            <div class="title-date">
                                14 Sept, 2018
                            </div>
                        </h1>
                        <div class="template-box">
                            <img class="template-img" src="https://images.unsplash.com/photo-1536383389102-0ac333c44981?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4d6d82381b7b88f77d05cd300c3bee6&auto=format&fit=crop&w=880&q=80">
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="template-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="page-right">
                            <h4>News & Events by Years</h4>
                            <div class="nav flex-column nav-pills">
                                <a class="nav-link active" href="#"><i class="fa fa-chevron-right"></i> 2018</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2017</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2016</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2015</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2014</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2013</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2012</a>
                                <a class="nav-link" href="#"><i class="fa fa-chevron-right"></i> 2011</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 justify-content-between d-flex align-items-center">
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#">Privacy policy</a>
                            </li>
                        </ul>
                        <div class="footer-copyright">
                            <span>Copyright © 2018 Komatsu Ltd. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- backdrop for nav menu - START -->
    <div class="backshadow"></div>
    <!-- backdrop for nav menu - END -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/style/js/cbpHorizontalMenu.js"></script>

    <script>

    $(function() {
        cbpHorizontalMenu.init();
    });

    // Function sticky header
    function getCurrentScroll() {
        return window.pageYOffset || document.documentElement.scrollTop;
    };

    $(document).ready(function() {

        // JS sticky Header -- START
        var shrinkHeader = 70;

        $(window).scroll(function() {
            var scroll = getCurrentScroll();
            if ( scroll >= (shrinkHeader / 2) && scroll <= shrinkHeader) {
                $('.header').addClass('moving').removeClass('sticky');
            } else if (scroll >= shrinkHeader) {
                $('.header').addClass('sticky').removeClass('moving');
            }
            else {
                $('.header').removeClass('sticky moving');
            }
        });
        // JS sticky Header -- END

        // Responsive Hamburger Menu
        var $hamburger = $(".hamburger");
        $hamburger.on("click", function(e) {
            $hamburger.toggleClass("is-active");
            $('.header-responsive').toggleClass('d-block');
        });

    });

    </script>

</body>

</html>
