<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/style/css/theme.css" type="text/css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/style/css/default.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/component.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/css/custom.css" />
    <script src="assets/style/js/modernizr.custom.js"></script>
</head>

<body>
    <div class="banner">
        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <nav id="cbp-hrmenu" class="cbp-hrmenu navbar bg-primary navbar-dark">
                        <a class="navbar-darkbrand header-logo" href="#">
                            <img src="../komatsu/assets/image/com_sp01.png">
                        </a>
                        <ul >
                            <li class="drpdwn cbp-hasSub">
                                <a href="#" class="text-light" >Our Company</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">Our Company <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-6">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cbp-hrsub-box-section col-md-6">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">Equipment</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">Equipment <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#" class="text-light">Parts</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Service</a>
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">CSR</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">CSR <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li class="cbp-hasSub">
                                <a href="#" class="text-light">News & Events</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-box">
                                        <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                        <div class="row">
                                            <div class="cbp-hrsub-box-section col-md-12">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#" class="text-light">Contact</a>
                            </li>
                        </ul>
                        <div class="d-lg-none">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <header class="header-responsive d-lg-none">
            <div id="responsiveNav">
                <div class="card">
                    <div class="card-header" id="responsiveNav-1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Our Company <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="responsiveNav-1" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">Our Company <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-6">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cbp-hrsub-box-section col-md-6">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /cbp-hrsub-inner -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Equipment <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="responsiveNav-2" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">Equipment <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <h4 class="cbp-hrsub-subtitle"><a href="#">Lorem ipsum dolor</a></h4>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-3">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Parts
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-4">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Services
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-5">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                CSR <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="responsiveNav-5" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">CSR <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-6">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                News & Events <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="responsiveNav-6" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-7">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                Marketing <i class="fa fa-chevron-down"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="responsiveNav-7" data-parent="#responsiveNav">
                        <div class="card-body">
                            <div class="cbp-hrsub-box">
                                <h3 class="cbp-hrsub-title"><a href="#">News & Events <i class="fa fa-arrow-right"></i></a></h3>
                                <div class="row">
                                    <div class="cbp-hrsub-box-section col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Nulla maximus elit</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Fusce feugiat massa eget</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Integer faucibus ligula eu metus</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Aenean varius</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Maecenas dictum velit quis dui ornare</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-right"></i> Pellentesque eget magna et mi viverra bibendum</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="responsiveNav-8">
                        <h5 class="mb-0">
                            <a href="#" class="btn btn-link collapsed">
                                Contact
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <div id="carouselArchitecture" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                <li data-target="#carouselArchitecture" data-slide-to="0" class="active">
                    <i></i>
                </li>
                <li data-target="#carouselArchitecture" data-slide-to="1">
                    <i></i>
                </li>
                <li data-target="#carouselArchitecture" data-slide-to="2">
                    <i></i>
                </li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1525140337596-61bf148f018a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c8aa59519c66fc46bd70ab8007123b6&auto=format&fit=crop&w=1500&q=80');">
                    <!-- <img src="assets/image/slide1.jpg" data-holder-rendered="true" class="mx-auto" width="100%"> -->
                    <div class="banner-content">
                        <div class="banner-content-box container">
                            <h1>Lorem ipsum dolor sit amet, consectetur elit.</h1>
                            <p>Aliquam a diam sit amet est gravida volutpat eget vitae tellus. Aenean sed augue sem. Integer dignissim nulla vitae lectus laoreet, in ullamcorper dui mattis. Praesent rhoncus id arcu hendrerit accumsan. In porttitor risus ut malesuada fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu convallis sem, eget convallis ex.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non elit odio. Aenean consequat, ante vitae euismod pulvinar, lacus justo cursus justo, sed volutpat est arcu eu felis. Sed vulputate eros dui, eget tincidunt sapien tincidunt id. Donec id velit vitae diam sodales efficitur id sed libero. </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1517430784299-86c141b421df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa678da6593dcd02eb047ee0b8f7f877&auto=format&fit=crop&w=1502&q=80')">
                    <!-- <img class="d-block mx-auto" src="assets/image/slide2.jpg" data-holder-rendered="true" width="100%"> -->
                    <div class="banner-content">
                        <div class="banner-content-box container">
                            <h1>Lorem ipsum dolor sit amet, consectetur elit.</h1>
                            <p>Aliquam a diam sit amet est gravida volutpat eget vitae tellus. Aenean sed augue sem. Integer dignissim nulla vitae lectus laoreet, in ullamcorper dui mattis. Praesent rhoncus id arcu hendrerit accumsan. In porttitor risus ut malesuada fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu convallis sem, eget convallis ex.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non elit odio. Aenean consequat, ante vitae euismod pulvinar, lacus justo cursus justo, sed volutpat est arcu eu felis. Sed vulputate eros dui, eget tincidunt sapien tincidunt id. Donec id velit vitae diam sodales efficitur id sed libero. </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1523848309072-c199db53f137?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61bbcce7163c6aca8aacd80e93ba8f39&auto=format&fit=crop&w=1500&q=80')">
                    <!-- <img src="assets/image/slide3.jpg" data-holder-rendered="true" class="" width="100%"> -->
                    <div class="banner-content">
                        <div class="banner-content-box container">
                            <h1>Lorem ipsum dolor sit amet, consectetur elit.</h1>
                            <p>Aliquam a diam sit amet est gravida volutpat eget vitae tellus. Aenean sed augue sem. Integer dignissim nulla vitae lectus laoreet, in ullamcorper dui mattis. Praesent rhoncus id arcu hendrerit accumsan. In porttitor risus ut malesuada fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu convallis sem, eget convallis ex.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non elit odio. Aenean consequat, ante vitae euismod pulvinar, lacus justo cursus justo, sed volutpat est arcu eu felis. Sed vulputate eros dui, eget tincidunt sapien tincidunt id. Donec id velit vitae diam sodales efficitur id sed libero. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="row m-0">
            <div class="col-md-6 p-0" style="background-image: url('https://images.unsplash.com/photo-1525140337596-61bf148f018a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c8aa59519c66fc46bd70ab8007123b6&auto=format&fit=crop&w=1500&q=80');">
                <div class="products-box">
                    <div class="products-box-body">
                        <h5>Construction, Mining and Utility Equipment</h5>
                        <ul>
                            <li><i class="fa fa-chevron-right"></i>Construction and Mining Equipment</li>
                            <li><i class="fa fa-chevron-right"></i>Forklift Trucks</li>
                            <li><i class="fa fa-chevron-right"></i>Forest Machines</li>
                            <li><i class="fa fa-chevron-right"></i>Recycling Equipment</li>
                            <li><i class="fa fa-chevron-right"></i>Tunneling Machines</li>
                        </ul>
                        <a class="btn btn-1" href="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0" style="background-image: url('https://images.unsplash.com/photo-1523848309072-c199db53f137?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61bbcce7163c6aca8aacd80e93ba8f39&auto=format&fit=crop&w=1500&q=80');">
                <div class="products-box">
                    <div class="products-box-body">
                        <h5>Industrial Machinery and Others</h5>
                        <ul>
                            <li><i class="fa fa-chevron-right"></i>Metal Forging and Stamping Presses</li>
                            <li><i class="fa fa-chevron-right"></i>Machine Tools</li>
                            <li><i class="fa fa-chevron-right"></i>Excimer Laser</li>
                            <li><i class="fa fa-chevron-right"></i>Thermoelectric Module and Temperature-Control Equipment</li>
                        </ul>
                        <a class="btn btn-1" href="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="worldwide" style="background-image: url('assets/image/home_bg01-1400x439.png');background-size:cover;background-position:center center;">
        <div class="worldwide-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>WORLDWIDE WEBSITE</h1>
                </div>
            </div>
            <div class="worldwide-list">
                <div class="worldwide-list-btn worldwide-list-americas">
                    <a href="#">The Americas</a>
                </div>
                <div class="worldwide-list-btn worldwide-list-eu">
                    <a href="#">Europe and CIS</a>
                </div>
                <div class="worldwide-list-btn worldwide-list-afme">
                    <a href="#">Middle East and  Africa</a>
                </div>
                <div class="worldwide-list-btn worldwide-list-asoc">
                    <a href="#">Asia and Oceania</a>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">NEWS RELEASE</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="#" class="media">
                        <img src="https://images.unsplash.com/photo-1483638906402-d942f4840969?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd2525da8a31727821f481da020c4b63&auto=format&fit=crop&w=1400&q=80" alt="Generic placeholder image">
                        <div class="media-body media-ellipsis">
                            <div class="media-ellipsis">
                                <h5 class="mt-0">Lorem Ipsum</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="media">
                        <img src="https://images.unsplash.com/photo-1523416074908-e541a411fbf5?ixlib=rb-0.3.5&s=d61ecf28a173189d4bdd78e4ae4c30ca&auto=format&fit=crop&w=753&q=80" alt="Generic placeholder image">
                        <div class="media-body media-ellipsis">
                            <div class="media-ellipsis">
                                <h5 class="mt-0">Lorem Ipsum</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="media">
                        <img src="https://images.unsplash.com/photo-1536171010494-d89014448ca1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=061f37d1008f891e96da95aca0c6e1cc&auto=format&fit=crop&w=1576&q=80" alt="Generic placeholder image">
                        <div class="media-body media-ellipsis">
                            <div class="media-ellipsis">
                                <h5 class="mt-0">Lorem Ipsum</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="media">
                        <img src="https://images.unsplash.com/photo-1536108978996-128e3e2a9783?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=075bdf576ede7296426dcac2c19a1258&auto=format&fit=crop&w=1475&q=80" alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="media-ellipsis">
                                <h5 class="mt-0">Lorem Ipsum</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <a href="#"><img class="img-footer" src="assets/image/judoclub.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img class="img-footer" src="assets/image/kenkenbanner03.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 justify-content-between d-flex align-items-center">
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#">Privacy policy</a>
                            </li>
                        </ul>
                        <div class="footer-copyright">
                            <span>Copyright © 2018 Komatsu Ltd. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- backdrop for nav menu - START -->
    <div class="backshadow"></div>
    <!-- backdrop for nav menu - END -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/style/js/cbpHorizontalMenu.js"></script>
    <script src="assets/style/js/jquery.dotdotdot.js"></script>
    <script>
        $(function() {
            cbpHorizontalMenu.init();
        });

        // Function sticky header
        function getCurrentScroll() {
            return window.pageYOffset || document.documentElement.scrollTop;
        };

        $(document).ready(function() {

            // JS sticky Header -- START
            var shrinkHeader = 300;

            $(window).scroll(function() {
                var scroll = getCurrentScroll();
                if ( scroll >= (shrinkHeader / 2) && scroll <= shrinkHeader) {
                    $('.header').addClass('moving').removeClass('sticky');
                } else if (scroll >= shrinkHeader) {
                    $('.header').addClass('sticky').removeClass('moving');
                }
                else {
                    $('.header').removeClass('sticky moving');
                }
            });
            // JS sticky Header -- END

            // Responsive Hamburger Menu
            var $hamburger = $(".hamburger");
            $hamburger.on("click", function(e) {
                $hamburger.toggleClass("is-active");
                $('.header-responsive').toggleClass('d-block');
            });

            $('.media-ellipsis').dotdotdot();
        });
    </script>
</body>

</html>
