@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

html,
body {
    height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans Japanese', "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Myriad Pro, Myriad, Arial, sans-serif;
}
h1.title {
    color: #333;
    line-height: 40px;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
h1.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    border-top: 2px solid #0e1271;
}
h1.title > .title-date {
    color: #666;
    font-size: 14px;
    display: block;
    font-weight: 500;
    line-height: 1;
    padding: 1rem 0 0;
    margin-bottom: -2rem;
    text-align: right;
}
h2.title {
    color: #333;
    line-height: 32px;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
h2.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    border-top: 2px solid #0e1271;
}
h3.subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #0e1271;
}
.modal {
    z-index: 1010;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .3s;
    transition-property: opacity;
}
.carousel-fade .carousel-inner {
    background: #000;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0) !important;
    transform: translate3d(0, 0, 0) !important;
    transform: none !important;
}
.btn-1 {
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 4px 30px 5px;
    line-height: 16px;
    position: relative;
}
.btn-1:hover {
    background-color: #fff;
    color: #0e1271;
}
.banner {
    height: 100vh;
    position: relative;
}
.banner-none {
    position: relative;
    height: 70px;
}
.banner-none .header {
    top: 0;
    background-color: #0e1271;
}
.banner-none .header .cbp-hrmenu {
    box-shadow: none;
}
.products,
.worldwide,
.news,
.footer {
    position: relative;
    z-index: 2;
}
.header {
    position: relative;
    z-index: 1010;
    top: 30px;
    box-shadow: none;
}
.header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 18, 113, 0.9);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0.25s linear;
    -moz-transition: transform 0.25s linear;
    -o-transition: transform 0.25s linear;
    -ms-transition: transform 0.25s linear;
    transition: transform 0.25s linear;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header.moving {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 18, 113, 0.9);
    -webkit-transform: translate(0, -70px);
    -moz-transform: translate(0, -70px);
    -o-transform: translate(0, -70px);
    -ms-transform: translate(0, -70px);
    transform: translate(0, -70px);
}
.header-logo {
    width: 138px;
    height: 26px;
    display: block;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    top: -3px;
}
.header-logo > img {
    margin: 0;
}
.header .cbp-hrmenu {
    height: 70px;
    padding: 0 30px;
    margin: 0 -15px;
    width: calc(100% + 30px);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header.sticky .cbp-hrmenu {
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.cbp-hrmenu > ul {
    width: calc(100% - 168px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cbp-hrmenu > ul > li {
    display: block;
}
.cbp-hrmenu > ul > li > a {
    padding: 0 25px;
    line-height: 70px;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.cbp-hrmenu > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff !important;
}
.cbp-hrmenu > ul > li.cbp-hropen > a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
    background-color: #fff;
    color: #0e1271 !important;
}
.cbp-hrmenu .cbp-hrsub {
    display: block;
    visibility: hidden;
    opacity: 0;
    background-color: #f3f3f3;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear, opacity 0.5s linear;
    -o-transition: visibility 0.5s linear, opacity 0.5s linear;
    -ms-transition: visibility 0.5s linear, opacity 0.5s linear;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.cbp-hropen .cbp-hrsub {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear, opacity 0.5s linear;
    -o-transition: visibility 0.5s linear, opacity 0.5s linear;
    -ms-transition: visibility 0.5s linear, opacity 0.5s linear;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}
.cbp-hrsub-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 45px;
}
.cbp-hrsub-title > a {
    color: #444 !important;
}
.cbp-hrsub-title > a > .fa {
    font-size: 16px;
    color: #0e1271;
    position: relative;
    top: -2px;
    margin-left: 3px;
}
.cbp-hrsub-title > a:hover {
    color: #0e1271 !important;
}
h4.cbp-hrsub-subtitle {
    padding: 0 !important;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
h4.cbp-hrsub-subtitle:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    border-top: 1px solid #ccc;
}
h4.cbp-hrsub-subtitle > a {
    color: #444 !important;
}
h4.cbp-hrsub-subtitle > a:hover {
    color: #0e1271 !important;
}
h4.cbp-hrsub-subtitle > a > .fa {
    font-size: 11px;
    margin-left: 3px;
    position: relative;
    top: -2px;
}
.cbp-hrsub-box-section > ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.cbp-hrsub-box-section > ul > li {
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
    margin-bottom: 15px;
    padding-right: 15px;
    position: relative;
}
.cbp-hrsub-box-section > ul > li > a {
    font-size: 14px;
    font-weight: 300;
    color: #666 !important;
    position: relative;
    padding-left: 20px;
    display: inline-block;
}
.cbp-hrsub-box-section > ul > li > a:hover {
    color: #0e1271 !important;
}
.cbp-hrsub-box-section > ul > li > a > .fa {
    font-size: 11px;
    color: #0e1271 !important;
    position: absolute;
    left: 0;
    top: 7px;
}
.banner #carouselArchitecture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}
.banner #carouselArchitecture .carousel-item {
    width: 100% !important;
    height: 100vh !important;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.banner #carouselArchitecture .carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#carouselArchitecture .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.banner-content-box {
    color: #fff;
    padding: 0 75px 30px;
}
.banner-content-box h1 {
    font-size: 38px;
    font-weight: 200;
    text-transform: capitalize;
    font-family: 'Noto Sans Japanese', "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Myriad Pro, Myriad, Arial, sans-serif;
    margin-bottom: 20px;
    filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.45));
}
.banner-content-box p {
    font-size: 17px;
    font-weight: 100;
    line-height: 32px;
    filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.45));
}
.products .col-md-6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.products .col-md-6 > .products-box {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .col-md-6:first-child > .products-box {
    background-color: rgba(14, 18, 113, 0.8);
}
.products .col-md-6:last-child > .products-box {
    background-color: rgba(248, 179, 6, 0.8);
}
.products-box-body {
    width: 39vw;
}
.products-box-body h5 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
.products-box-body ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin-bottom: 30px;
}
.products-box-body ul > li {
    font-size: 16px;
    font-weight: 400;
}
.products-box-body ul > li .fa {
    margin-right: 10px;
    font-size: 10px;
    position: relative;
    top: -2px;
}
.products-box-body ul > li + li {
    margin-top: 15px;
}
.products-box-body .btn-1 > .fa {
    font-size: 12px;
    position: relative;
    margin-left: 5px;
    top: -2px;
}
.worldwide {
    height: calc(100vh - 70px);
}
.worldwide-box {
    overflow: hidden;
    height: 100%;
    padding-top: 10vh;
}
.worldwide-box h1,
.news h1 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    color: #0e1271;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.worldwide-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.worldwide-list-btn {
    width: 12vw;
    height: 12vw;
    background-color: rgba(248, 179, 6, 0.5);
    padding: 1vw;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    position: absolute;
    animation: floating 6s infinite ease-in-out;
}
.worldwide-list-btn.worldwide-list-americas {
    top: 34vh;
    left: 17vw;
    animation-delay: 2s;
}
.worldwide-list-btn.worldwide-list-eu {
    top: 22vh;
    left: 40vw;
    animation-delay: 1s;
}
.worldwide-list-btn.worldwide-list-afme {
    top: 48vh;
    left: 50vw;
    animation-delay: 5s;
}
.worldwide-list-btn.worldwide-list-asoc {
    top: 45vh;
    left: 70vw;
    animation-delay: 3.5s;
}
.worldwide-list-btn > a {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.8vw;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    background-color: rgba(248, 179, 6, 0.6);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
.worldwide-list-btn > a:hover {
    background-color: #fff;
    color: #0e1271;
}
@keyframes floating {
    0%,
    100% {
        margin-top: 0;
    }
    50% {
        margin-top: -15px;
    }
}
.news {
    padding: 45px 0;
    background-color: #f4f4f4;
}
.news h1 {
    margin-bottom: 45px;
}
.news .media {
    height: 13rem;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}
.news .media:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.news .media > img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    object-position: center;
}
.news .media > .media-body {
    padding: 20px;
    overflow: hidden;
    align-self: stretch;
}
.news .media > .media-body > .media-ellipsis {
    height: calc(100% - 40px);
    overflow: hidden;
}
.news .media > .media-body  h5 {
    color: #444;
    font-weight: 600;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.news .media:hover > .media-body  h5 {
    color: #0e1271;
}
.news .media > .media-body  p {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}
.footer {
    color: #0e1271;
}
.footer-img {
    padding: 45px 0;
    position: relative;
}
.footer-img ul,
.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img ul > li + li,
.footer-menu > li + li {
    margin-left: 30px;
}
.footer-text {
    background-color: #0e1271;
    color: #fff;
    padding: 15px 0;
}
.footer-menu {
    justify-content: flex-start;
}
.footer-menu > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-menu > li > a:hover {
    color: rgba(248, 179, 6, 1);
}
.footer-copyright {
    font-size: 12px;
    font-weight: 400;
}
.breadcrumb-wrapper {
    border-bottom: 1px solid #ddd;
}
.breadcrumb-wrapper .breadcrumb {
    border-radius: 0;
    padding: 0.75rem 0;
    margin-bottom: 0;
    background-color: transparent;
}
.breadcrumb-item {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
.breadcrumb-item > a {
    color: #0e1271;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.breadcrumb-item.active {
    color: #666;
}
.breadcrumb-item.active::after {
    display: none;
}
.breadcrumb-item > a:hover {
    color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "\f054";
    padding: 0 1rem;
    font-family:'FontAwesome';
    font-size:10px;
    position: relative;
    top: -1px;
    color: #ccc;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.template {
    padding: 2rem 0 4rem;
}
.template-p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #303030;
}
.template-p > b {
    font-weight: 500;
    color: #0e1271;
}
.template-img {
    margin: 1rem 2rem 1rem 0;
    float: left;
    clear: left;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.template-5-media {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}
.template-4 {
    padding-top: 0;
}
.template-4-banner {
    height: calc(100vh - 200px);
}
.template-4-banner .carousel-item img.d-block.img-fluid {
    height: calc(100vh - 200px);
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.template-5-media-slide {
    border-bottom: none;
}
.template-5-media .template-img {
    margin: 0;
    width: 200px;
    height: 200px;
}
.template-5-media .col-md-7 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.template-box-middle {
    position: relative;
}
.template-box-middle::before {
    content: "";
    display: block;
    float: left;
}
.template-spacer {
    width: 0;
    float: left;
}
.template .card {
    border: none;
    border-radius: 0;
}
.template .card .card-header {
    font-weight: 500;
    color: #303030;
    font-size: 14px;
    background-color: #f4f4f4;
}
.template .card .card-body {
    padding: 0;
}
.template .card .card-body > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.template .card .card-body > ul .active .list-group-item {
    background-color: #f4f4f4;
    color: #303030;
}
.template .card .card-body > ul .list-group-item {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
    color: #666;
    font-size: 12px;
}
.template .card .card-body > ul .list-group-item > .fa {
    font-size: 10px;
    position: relative;
    top: -1px;
    color: #0e1271;
    margin-right: 5px;
}
.active:after {
    display: none;
}
.page-slideQuote {
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}
.page-slideQuote-img {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 50%;
}
.page-slideQuote-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.page-slideQuote .media {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin: 1rem;
}
.page-banner {
    height: 50vh;
    position: relative;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.page-banner-yellow > .page-banner-text {
    background-color: rgba(255, 198, 42, .95);
}
.page-banner-yellow > .page-banner-text::after {
    border-bottom: 50vh solid rgba(255, 198, 42, .95);
}
.page-banner-blue > .page-banner-text {
    background-color: rgba(14, 18, 113, .95);
}
.page-banner-blue > .page-banner-text::after {
    border-bottom: 50vh solid rgba(14, 18, 113, .95);
}
.page-banner-yellow > .page-banner-text > h1 {
    color: rgb(14, 18, 113);
}
.page-banner-blue > .page-banner-text > h1 {
    color: #fff;
}
.page-banner-text {
    height: 100%;
    width: calc(50% - 3rem);
    padding: 0 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.page-banner-text::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -3rem;
    top: 0;
    border-right: 3rem solid transparent;
}
.page-banner-text > h1 {
    font-size: 48px;
    margin-top: 0;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 2rem;
}
.page-banner-text > p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.page-listbtn {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 -3rem;
    width: calc(100% + 6rem);
}
.page-listbtn-item {
    align-self: stretch;
    position: relative;
    flex: 1;
    margin: 0 3rem;
}
.page-listbtn-item.page-listbtn-border {
    border: 1px solid #ddd;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.page-listbtn-item.page-listbtn-border:hover {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.page-listbtn-item.page-listbtn-noZoom > a:hover > .page-listbtn-img {
    transform: scale(1);
}
.page-listbtn-item > a {
    position: relative;
    padding-top: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}
.page-listbtn-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;
    -ms-transition: transform 0.25s;
    transition: transform 0.25s;
}
.page-listbtn-item > a:hover > .page-listbtn-img {
    transform: scale(1.25);
}
.page-listbtn-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
.page-listbtn-item > a:hover > .page-listbtn-text {
    background-color: rgba(14,18,113,0.85);
}
.page-section {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
a.page-section:hover {
    background-color: #eee;
}
.page-section > i.fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}
.page-section-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-left: 2rem;
}
.page-section-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}
.page-section-caption {
    padding: 0 4rem 0 2rem;
}
.page-section-caption > h4 {
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    line-height: 24px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
a.page-section:hover .page-section-caption > h4 {
    color: #0e1271;
}
.page-section-date {
    font-size: 12px;
    font-weight: 700;
    color: #505050;
}
.page-right {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.page-right > h4 {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 18px;
    color: #0e1271;
    font-weight: 700;
}
.page-right .nav-pills .nav-link {
    padding: .75rem 1rem;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
.page-right .nav-pills .nav-link:hover {
    background-color: #f8f8f8;
    color: #0e1271;
}
.page-right .nav-pills .nav-link > .fa {
    position: relative;
    top: -2px;
    margin-right: 1rem;
    font-size: 10px;
}
.page-right .nav-pills .nav-link.active {
    background-color: #0e1271;
    color: #fff;
}
.page-right .nav-pills .nav-link + .nav-link {
    border-top: 1px solid #ddd;
}
.backshadow {
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear, opacity 0.5s linear;
    -o-transition: visibility 0.5s linear, opacity 0.5s linear;
    -ms-transition: visibility 0.5s linear, opacity 0.5s linear;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}
body.menu-opened .backshadow {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear, opacity 0.5s linear;
    -o-transition: visibility 0.5s linear, opacity 0.5s linear;
    -ms-transition: visibility 0.5s linear, opacity 0.5s linear;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}
.hamburger {
    outline: none !important;
    padding: 0;
    opacity: 1 !important;
    height: 24px;
    width: 32px;
    display: block;
}
.hamburger-box {
    width: 32px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    border-radius: 0;
    background-color: #fff;
    width: 32px;
}
.header-responsive {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 55px);
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 1009;
    -webkit-transform: translate(0, calc(-100vh + 54px));
    -moz-transform: translate(0, calc(-100vh + 54px));
    -o-transform: translate(0, calc(-100vh + 54px));
    -ms-transform: translate(0, calc(-100vh + 54px));
    transform: translate(0, calc(-100vh + 54px));
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
.header-responsive.d-block {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
#responsiveNav .card {
    border-radius: 0;
    background-color: #2e3284;
    border: none;
}
#responsiveNav .card + .card {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
#responsiveNav .card-header {
    padding: 0;
    border-radius: 0;
    border: none;
}
#responsiveNav .card-header .btn {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    outline: none !important;
    text-decoration: none !important;
    padding: 1rem 2rem;
    position: relative;
}
#responsiveNav .card-header .btn > .fa-chevron-down {
    position: absolute;
    right: 2rem;
    top: 20px;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#responsiveNav .card-header .btn.collapsed > .fa-chevron-down {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
#responsiveNav .card-body {
    background-color: #f4f4f4;
    padding: 2rem;
}
#accordion.contact-accordion .card-header {
    border-radius: 0;
    padding: 0;
    border-bottom: none;
}
#accordion.contact-accordion .card-header .btn {
    display: block;
    width: 100%;
    padding: 1.125rem 2rem;
    cursor: pointer;
    text-align: left;
    outline: none !important;
    text-decoration: none !important;
}
.pagination {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pagination .page-link {
    border-color: #ddd;
    color: #505050;
    font-weight: 400;
    font-size: 14px;
}
.pagination .page-item.active .page-link {
    background-color: #0e1771;
    border-color: #0e1771;
    color: #fff;
}
.modal-header {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
}
.modal-header > h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #505050;
}
.close {
    z-index: 10;
    top: 18px;
}
.mySlides {
    padding: 0 2rem;
}
.prev, .next {
    top: calc(50% + 35px);
    margin: 0;
    display: block;
    transform: translateY(-50%);
}
.mySlides .card {
    margin-bottom: 2rem;
}
.mySlides .card > a {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% * 3 / 4);
}
.mySlides .card > a::before,
.mySlides .card > a > img.card-img,
.mySlides .card > a > .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
.mySlides .card > a > img.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1
}
.mySlides .card > a::before {
    content: "";
    z-index: 2;
    background-color: rgba(14,18,113, 0.85);
    border: .25rem solid rgba(255,255,255, 0.85);
}
.mySlides .card > a > .card-img-overlay > * {
    margin: 0;
}
.mySlides .row:last-child .card {
    margin-bottom: 0;
}
.mySlides .card > a > img {
    margin-bottom: 0;
}
.mySlides br {
    display: none;
}

/* Responsive CSS */
@media (max-width: 1199.98px) {
    .header {
        background-color: rgba(14, 18, 113, 1);
        top: 0;
    }
    .header-logo {
        width: auto;
        height: 22px;
        top: -2px;
        line-height: 1;
        display: inline-block;
    }
    .header-logo > img {
        height: 100%;
    }
    .header .cbp-hrmenu {
        margin: 0;
        padding: 0 15px;
        height: 54px;
    }
    .cbp-hrmenu > ul > li > a {
        padding: 0 15px;
        font-size: 12px;
        line-height: 54px;
    }
    .banner #carouselArchitecture {
        height: calc(100vh - 54px);
        position: relative;
    }
    #carouselArchitecture .banner-content {
        padding-top: 0;
    }
    .page > .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .banner-none {
        height: 55px;
    }
    .page-banner-text > h1 {
        font-size: 38px;
        margin-bottom: 1rem;
        line-height: 40px;
    }
    .page-banner-text > p {
        font-size: 14px;
    }
    .page > .py-5 {
        overflow-x: hidden;
    }
}
@media (max-width: 991.98px) {
    .banner {
        padding-top: 54px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .header.moving,
    .header.sticky {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        background-color: rgb(14, 18, 113);
    }
    .cbp-hrmenu > ul {
        display: none;
    }
    .banner-content-box.container {
        width: 100%;
        padding: 0 2rem;
        margin: 0;
        text-align: center;
    }
    .banner-content-box h1 {
        font-size: 34px;
        font-weight: 500;
    }
    .banner-content-box p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    .worldwide-list-btn > a {
        font-size: 12px;
        line-height: 14px;
    }
    .footer-menu > li > a {
        font-size: 12px;
    }
    .footer-img ul > li + li,
    .footer-menu > li + li {
        margin-left: 1rem;
    }
    .footer-copyright {
        font-size: 10px;
    }
    .page-banner-text {
        width: calc(65% - 3rem);
    }
    .page-banner-text > h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .py-5.page-slideQuote .col-8,
    #responsiveNav .cbp-hrsub-box-section.col-md-6 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .page-listbtn-text > h2 {
        font-size: 24px;
    }
    .cbp-hrsub-box-section + .cbp-hrsub-box-section {
        margin-top: 2rem;
    }
    .cbp-hrsub-box-section > ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .cbp-hrsub-title {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .page > .py-5 > .container > .row > .col-md-9,
    .page > .py-5 > .container > .row > .col-md-3,
    .contact > .filter-fade-in.pb-5 > .container > .row > .col-md-6 {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }
    .template-img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
    .page-right {
        margin-top: 2rem;
    }
}
@media (max-width: 767.98px) {
    .footer-img ul, .footer-menu {
        flex-wrap: wrap;
    }
    .footer-img ul > li + li {
        margin-left: 0;
        margin-top: 1rem;
    }
    .footer-menu {
        width: 100%;
        justify-content: center;
    }
    .footer-text .col-md-12.justify-content-between.d-flex.align-items-center {
        flex-wrap: wrap;
    }
    .footer-copyright {
        font-size: 12px;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
    }
    .img-footer {
        width: 100%;
        height: auto;
    }
    .products .col-md-6 > .products-box {
        height: auto;
    }
    .products-box-body {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
    .worldwide {
        height: 55vw;
    }
    .worldwide-list,
    .worldwide-list-btn {
        position: static;
    }
    .worldwide-list {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
    .worldwide-list-btn {
        animation: none;
        width: 15vw;
        height: 15vw;
    }
    .worldwide-list-btn + .worldwide-list-btn {
        margin-left: 2rem;
    }
    .news .media {
        height: 9rem;
    }
    .news .media > img {
        height: 9rem;
        width: 9rem;
    }
    .page > .py-5 > .container > .row.mb-5 {
        margin-bottom: 2rem !important;
    }
    .page-banner {
        height: 40vw;
    }
    .page-banner-text {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .page-banner-text::after {
        display: none;
    }
    .page-listbtn {
        width: 100%;
        margin: 0;
    }
    .page-listbtn-item {
        margin: 0;
    }
    .page-listbtn-item + .page-listbtn-item {
        margin-left: 2rem;
    }
}
@media (max-width: 575.98px) {
    .banner-content-box.container {
        padding-bottom: 2rem;
    }
    .banner-content-box h1 {
        font-size: 18px;
    }
    .banner-content-box p {
        font-size: 12px;
        line-height: 16px;
    }
}
